* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}
figure {
  background-color: rgb(201, 47, 201);
  margin-bottom: 700px;
  height: 500px;
  width: 800px;
  text-align: center;
}
.images {
  height: 50dvh;
  width: 800px;
  background-color: aquamarine;
  margin-bottom: 200px;
  /*
  padding: 100px;
  border: 20px solid green;
  */
}
/*
.box {
  width: 400px;
  height: 200px;
  background-color: maroon;
}
  */
.measurements {
  height: 400px;
  width: 400px;
  background-color: lightcoral;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
}
div {
  margin: 10px;
}
#px {
  background-color: aqua;
  width: 100px;
  height: 100px;
}
#ch {
  background-color: red;
  font-size: 20px;
  width: 10ch;
  height: 10ch;
}
#em {
  background-color: green;
  font-size: 20px;
  width: 5em;
  height: 5em;
}
#rem {
  background-color: orange;
  width: 5rem;
  height: 5rem;
}
#percentage {
  background-color: maroon;
  height: 25%;
  width: 25%;
}
#vh {
  background-color: darkblue;
  height: 20vh;
}
#vw {
  background-color: darkslategrey;
  width: 100vw;
}
#maxwidth {
  background-color: indigo;
  min-height: 100px;
  min-width: 30%;
}
